// Login Wrapper General

.portalWrapper {
	&--login-wrapper {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100vw;
		height: 100vh;
		margin-top: 112px;
	}
}

.arrowUp {
	display: none;
}

.box {
	width: 360px;
	top: 7px !important;
	right: 0 !important;
	left: -98px;
}

.portalContainer {
	&--login-wrapper {
		& form {
			padding-top: 18px;
			border-top: 1px solid $grey-400;
		}
	}
}

.contentContainer {
	width: 360px;
	border-radius: 0 0 5px 5px;
	background-color: $white;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.15);
	margin-top: 0;
}

.contentForm {
	width: 100%;
	padding: 0;
}

.content {
	height: 100%;
	padding: 0;
	background-color: $white;
	border-radius: 0 0 5px 5px;

	&--emailAndPassword,
	&--emailVerification,
	&--codeConfirmation,
	&--recoveryPassword,
	&--beginCreatePass {
		@include customMediaBreaks(1024) {
			padding: 0;
		}

		& :global(form) {
			@include customMediaBreaks(1024) {
				width: 290px;
				margin: 0 auto;
				margin-top: 32px;
				padding-bottom: 76px;
			}
		}

		& :global(.vtex-input-prefix__group) {
			@include customMediaBreaks(1024) {
				width: 290px;
				height: 48px;
			}
		}

		& :global(.vtex-styleguide-9-x-input) {
			@include customMediaBreaks(1024) {
				font-size: 13px;
				line-height: 15px;
			}
		}
	}

	&--emailVerification,
	&--codeConfirmation,
	&--recoveryPassword,
	&--beginCreatePass {
		& .contentForm {
			@include customMediaBreaks(1024) {
				width: 100%;
				padding: 0;
			}
		}
		& .formFooter {
			@include customMediaBreaks(1024) {
				margin-top: 18px;
				padding-top: 32px;
			}
		}
	}

	&--recoveryPassword {
		& .formTitle {
			@include customMediaBreaks(1024) {
				border-bottom: 2px solid $grey-300;
				height: auto;
				width: 100%;
				margin-bottom: 0;
				padding-bottom: 11px;
			}

			&::before {
				@include customMediaBreaks(1024) {
					display: block;
					width: 56%;
					height: 32px;
					border: none;
					margin: 0 auto;
					padding: 0;
				}
			}
		}

		// Login Wrapper Email and Password

		& :global(form) {
			@include customMediaBreaks(1024) {
				padding: 0;
				margin-bottom: 171px;
			}
		}
	}

	// Login Wrapper Verification Code

	&--emailVerification,
	&--codeConfirmation,
	&--recoveryPassword {
		& :global(form) {
			@include customMediaBreaks(1024) {
				padding-bottom: 211px;
			}
		}

		// Login Wrapper Email and Password

		& .formError {
			font-size: 10px !important;
		}
	}

	// Login Wrapper Email and Password

	&--emailAndPassword {
		& .inputContainerPassword {
			padding: 0;
			margin-bottom: 8px;

			&::before {
				content: 'Contraseña *';
			}
		}

		& .inputContainerEmail {
			margin-bottom: 12px;
		}

		& :global(form) {
			@include customMediaBreaks(1024) {
				z-index: 1;
			}
		}

		& .inputContainer {
			@include customMediaBreaks(1024) {
				width: 290px;
				margin-bottom: 16px;

				&:nth-child(2) {
					margin-bottom: 13px;
				}
			}
		}

		& .formFooter {
			@include customMediaBreaks(1024) {
				margin-top: 18px;
				padding-top: 31px;
			}
		}
	}
}

.formTitle {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 19px;
	color: $grey-800;
	padding: 0;
	margin: 23px 0 24px 0;
}

.optionsList {
	display: flex;
	flex-direction: column;
	max-width: 1280px;
	padding: 28px 24px 38px 24px;
	margin: 0 auto;
	align-items: center;
}

.inputContainerEmail,
.inputContainerPassword,
.inputContainer {
	&::before {
		@include typographyCaption;
		display: block;
		letter-spacing: 0;
		color: $secondary-main;
		margin-bottom: 4px;
	}
}

.inputContainerEmail {
	&::before {
		content: 'Mail *';
	}
}

.inputContainerEmail,
.inputContainerPassword,
.inputContainerAccessCode {
	& :global(.vtex-input-prefix__group) {
		height: 40px;
		width: 300px;
		border: 1px solid $grey-300;
		border-radius: 4px;
		background-color: $white;
	}
}

.content--emailAndPassword,
.content--codeConfirmation,
.forgotPasswordForm {
	& .formError {
		&::before {
			font-family: 'mercaldas';
			content: '\e923';
			margin: 0 12px;
			color: $error;
			font-size: 18px;
		}

		@include customMediaBreaks(1024) {
			width: 290px !important;
			padding: 9px;
		}
	}
}

.sendButton {
	& button {
		width: 141px;
		height: 48px;
		background-color: $primary-main;
		outline: none;
		border: none;

		&:hover {
			background-color: $primary-light;
		}

		& > div {
			&::after {
				font-family: 'mercaldas';
				content: '\e90a';
				font-size: 15px;
				font-weight: 500;
				line-height: 18px;
				color: $white;
				margin-left: 5px;
			}
		}
	}

	& :global(.vtex__icon-spinner) {
		color: $white;
	}

	& :global(.t-small) {
		color: $white;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 18px;
		text-align: center;
	}
}

.backButton {
	margin-left: 40px;

	& button {
		display: flex;
		align-items: center;
		width: 62px;
		height: 15px;
		border: none;

		&::before {
			font-family: 'mercaldas';
			content: '\e909';
			font-size: 15px;
			font-weight: 500;
			color: $grey-800;
			margin-right: 5px;
		}

		& > div {
			height: 15px;
		}
	}

	& :global(.t-small) {
		font-family: $fontFamily;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 18px;
		text-align: center;
		color: $grey-800;
		margin-left: 0;
	}
}

.backButton,
.sendButton {
	& button {
		& > div {
			padding: 0 !important;
		}
	}
}

.arrowBackIcon {
	display: none;
}

.contentInitialScreen {
	@include customMediaBreaks(1024) {
		padding: 0;
	}

	& .options {
		@include customMediaBreaks(1024) {
			width: 100%;
		}
	}

	& .optionsList {
		@include customMediaBreaks(1024) {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding-top: 43px;
			padding-bottom: 153px;
		}
	}

	& :global(.vtex-button) {
		@include customMediaBreaks(1024) {
			display: block;
			width: 290px;
			height: 54px;
			margin: 0 auto;
		}
	}
}

.contentInitialScreen,
.content--emailAndPassword,
.content--emailVerification,
.content--codeConfirmation,
.content--recoveryPassword,
.content--beginCreatePass {
	.formTitle {
		@include customMediaBreaks(1024) {
			padding: 0;
			margin-top: 24px;
			margin-bottom: 0;
			line-height: 16px;
			color: $grey-800;
			padding-bottom: 27px;
			border-bottom: 2px solid $grey-300;
		}
	}
}

// Login Wrapper Verification Code

.inputContainerAccessCode {
	padding: 0;

	&::before {
		content: 'Código de acceso *';
	}
}

.emailVerification {
	width: 300px;
	margin: 1.75rem auto;

	& .inputContainerEmail {
		&::before {
			@include typographyCaption;
			display: block;
			content: 'Mail *';
			letter-spacing: 0;
			color: $secondary-main;
			margin-bottom: 4px;
		}
	}
}

.codeConfirmation {
	width: 300px;
	margin: 1.75rem auto;
	text-align: unset;

	.formError {
		margin-top: 16px;
	}
}

.emailVerification,
.codeConfirmation {
	& .formFooter {
		padding-top: 17px;
		margin-top: 23px;
		border-top: 2px solid $grey-200;
	}

	& .backButton,
	& .sendButton :global(.t-small) {
		display: flex;
		align-items: center;
	}
}

.emailForm {
	& .formError {
		@include typographyOverline;
		background: none;
		padding: 0;
		margin: 10px 0 0 0;
		color: $grey-700;
		text-align: left;
	}
}

// Login Wrapper Email and Password

.inputContainerPassword {
	& :global(.vtex-input__suffix) {
		background-color: $white;
	}

	& .eyeIcon {
		&--invisible,
		&--visible {
			display: flex;

			&::after {
				font-family: 'mercaldas';
				font-size: 20px;
			}
		}

		&--invisible {
			&::after {
				content: '\e94f';
			}
		}

		&--visible {
			&::after {
				content: '\e94e';
			}
		}
	}

	& :global(.mt2) {
		margin-top: 0;
	}

	& :global(.w-20) {
		width: 13%;
	}

	& :global(.t-small) {
		font-family: $fontFamily;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 17px;
	}

	& :global(.c-danger) {
		color: $error;
	}

	& :global(.c-success) {
		color: $success;
	}
}

.eyeSightIcon {
	display: none;
}

.emailAndPasswordForm,
.codeConfirmation,
.forgotPasswordForm {
	& .formError {
		@include flexCenter;
		height: 47px;
		width: 300px;
		border-radius: 4px;
		background-color: #feeaea;
		padding-left: 11px;
		padding-right: 18px;
		margin: 10px 0 18px 0;
		font-size: 11px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 16px;
		text-align: left;
		color: $grey-700;
	}
}

.emailAndPasswordForm {
	& .formError {
		font-size: 0 !important;

		&::after {
			content: 'Mail o contraseña incorrecta. Vuelve a intentarlo o haz clic en "Olvidé mi contraseña”.';
			font-size: 10px;
		}
	}
}

.formLinkContainer {
	@include reset();
}

.forgotPasswordLink {
	color: $secondary-dark;
	font-family: $fontFamily;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 16px;

	&:hover {
		opacity: 1;
		text-decoration: underline;
	}
}

.content--emailAndPassword,
.forgotPasswordForm {
	& .formFooter {
		display: flex;
		align-items: center;
		margin: 0;
		border-top: 2px solid $grey-200;
		padding-top: 17px;
		margin-top: 13px;
		margin-bottom: 20px;
	}
}

.dontHaveAccount {
	color: $secondary-dark;
	font-family: $fontFamily;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;

	&::after {
		content: 'Registrate';
		font-weight: 500;
		margin-left: 5px;
	}
	&:hover {
		opacity: 1;
		text-decoration: underline;
	}
}

.forgotPasswordForm {
	& .formTitle {
		margin: 23px auto 19px auto;
	}
	& .formSubtitle {
		display: none;
	}
	& form {
		padding-top: 29px;
	}
	& .inputContainer {
		padding: 0;
		padding-bottom: 12px;

		&:nth-child(3) {
			padding-bottom: 14px;
		}
	}
	& .inputContainerAccessCode {
		&::before {
			content: 'Ingrese su código de acceso *';
		}
	}
	& .inputContainerPassword {
		&:nth-child(2) {
			&::before {
				content: 'Crea tu Contraseña *';
			}
		}
		&::before {
			content: 'Confirma tu Contraseña *';
		}
	}
	& :global(.vtex-input__suffix) {
		padding-right: 14px;
	}
	& .formFooter {
		margin-top: 14px;
		margin-bottom: 0;
	}
	& .formError {
		height: 40px;
		justify-content: flex-start;
		color: $grey-700;
		font-size: 11px;
		font-weight: $medium;
		letter-spacing: 0;
		line-height: 16px;
		text-align: left;
		margin-bottom: 14px;

		&::before {
			margin-right: 14px;
		}
	}
}

.tooltipContainer {
	width: 290px;
	background-color: $grey-200;
	border-radius: 0;
	padding: 13px 18px 5px 19px;
	bottom: -133px;

	&::after {
		@include customMediaBreaks(1024) {
			left: 12px;
			top: -15px;
			border-width: 8px;
			border-style: solid;
			border-color: transparent transparent $grey-200 transparent;
		}
	}

	& :global(.pa2) {
		width: 253px;
		padding: 0;
	}

	& :global(.mb3) {
		height: 16px;
		margin-bottom: 5px;
	}

	& :global(.mb3 span) {
		@include typographyCaption;
		display: block;
		font-weight: bold;
		letter-spacing: 0;
		color: $grey-700;
		margin-bottom: 5px;
	}

	& :global(.t-small),
	& :global(.mt2:last-child .w-80 .t-small)::before {
		@include customMediaBreaks(1024) {
			font-family: $fontFamily;
			font-size: 11px;
			font-weight: 500;
			letter-spacing: 0.92px;
			line-height: 17px;
		}
	}

	& :global(.c-on-base) {
		@include customMediaBreaks(1024) {
			color: $grey-600;
		}
	}

	& :global(.c-danger) {
		@include customMediaBreaks(1024) {
			color: $error;
		}
	}

	& :global(.c-success) {
		@include customMediaBreaks(1024) {
			color: $success;
		}
	}
}

// Login Wrapper Buttons

.optionsListItem {
	margin: 0;

	&:first-of-type {
		order: 1;
	}
	&:nth-of-type(2) {
		order: 2;
	}
	&:nth-of-type(3) {
		order: 4;
	}
	&:nth-of-type(4) {
		order: 3;
	}
}

.accessCodeOptionBtn {
	& :global(.vtex-button__label) {
		&::before {
			content: '\e94c';
			margin-right: 30px;
		}
	}
}

.emailPasswordOptionBtn {
	& :global(.vtex-button__label) {
		&::before {
			content: '\e94d';
			margin-right: 10px;
		}
		& .oauthLabel {
			@include customMediaBreaks(1024) {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
}

.facebookOptionBtn {
	& :global(.vtex-button) {
		width: 313px;
		height: 48px;
		background-color: #3b5998;
	}
	& :global(svg) {
		margin-right: 30px;
	}
}

.googleOptionBtn {
	& :global(.vtex-button) {
		width: 313px;
		height: 48px;
		background-color: #db4a39;
	}
	& :global(svg) {
		margin-right: 40px;
	}
}

.accessCodeOptionBtn,
.emailPasswordOptionBtn,
.facebookOptionBtn {
	margin-bottom: 10px;
}

.accessCodeOptionBtn,
.emailPasswordOptionBtn {
	& :global(.vtex-button) {
		width: 313px;
		height: 48px;
		background-color: $grey-300;
		border-radius: 4px;
	}

	& :global(.vtex-button__label) {
		padding: 0 !important;
		color: $grey-800;
		font-size: 15px;
		font-weight: $medium;
		letter-spacing: 0;
		line-height: 18px;
		text-align: center;
		text-transform: initial;

		&::before {
			font-family: 'mercaldas';
			width: 32px;
			font-size: 32px;
			color: $grey-800;
			margin-left: 12px;
		}
	}
}

.accessCodeOptionBtn,
.emailPasswordOptionBtn,
.facebookOptionBtn,
.googleOptionBtn {
	& :global(.vtex-button__label) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	& :global(.vtex-button) {
		&:hover {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			border: none;
		}
	}
}

.facebookOptionBtn,
.googleOptionBtn {
	& :global(.vtex-button__label) {
		padding: 0 !important;
	}
	& :global(svg) {
		width: 32px;
		margin-left: 12px;
	}
	& :global(path) {
		fill: $white !important;
	}
}

.oauthLabel,
.oauthProvider {
	font-family: $fontFamily;
	color: $white;
	font-size: 15px;
	font-weight: $medium;
	letter-spacing: 0;
	line-height: 18px;
	text-align: center;
	text-transform: initial;
}

.oauthLabel {
	margin: 0 !important;
}

// Account Options

.accountOptions {
	padding: 22px;

	& :global(.b--muted-4) {
		padding-bottom: 18px;

		&:last-child {
			padding-bottom: 0;
			padding-top: 18px;
			border-top: 2px solid $grey-200;
		}

		a[href='/account'] {
			button {
				background-color: transparent;
			}
		}
	}

	& .profile-item,
	& .logoutButton {
		font-family: $fontFamily;
		font-size: 15px;
		letter-spacing: 0;
		line-height: 18px;
		color: $grey-800;

		&:hover {
			color: $secondary-dark;
			font-weight: bold;
		}
	}

	& .profile-item {
		padding: 0;
		margin-bottom: 20px;
	}
}

.accountOptionsSectionTitle,
.accountOptions :global(hr) {
	display: none;
}


