.form,
.content,
.inputName,
.inputEmail,
.submit {
	margin: 0;
}

.shippingContainer {
	background-color: $white;
	padding: 12px;
}

.container {
	@include customMediaBreaks(1024) {
		padding: 0;
	}
}

@media screen and (max-width: 640px) {
	.imageElement {
		//Offer
		&--offer-img-1,
		&--offer-img-2 {
			height: 172px;
			width: 304px;
		}
		&--offer-img-2 {
			margin-top: 8px;
		}
		&--offer-tablet {
			width: 100%;
		}
		//Banners group
		&--group-1-1 {
			width: 304px !important;
			height: 172px !important;
			margin-bottom: 4px;
		}
		&--group-1-2,
		&--group-1-3 {
			width: 148px !important;
			height: 172px !important;
			margin-bottom: 8px;
		}
		&-group-2-3 {
			width: 304px !important;
			height: 172px !important;
			margin-bottom: 4px;
		}
		&-group-2-1,
		&--group-2-2 {
			width: 148px !important;
			height: 172px !important;
			margin-bottom: 8px;
		}
		&--group-3-1 {
			width: 304px !important;
			height: 60px !important;
			margin-bottom: 7px;
		}
		&--group-4-1 {
			width: 304px !important;
			height: 172px !important;
			margin-bottom: 8px;
		}
		&--group-4-2 {
			width: 304px !important;
			height: 172px !important;
		}
		//Offer slider
		&--offer-slider {
			width: 100% !important;
		}
		&--group-3-1,
		&--offer-img-1,
		&--offer-img-2 {
			height: auto !important;
			width: 100% !important;
		}
		&--group-1-2,
		&--group-2-1,
		&--group-2-2,
		&--group-1-3 {
			width: 98.5% !important;
			height: auto !important;
		}
		&--group-2-2,
		&--group-1-3 {
			margin-left: auto !important;
		}
	}
}
