.sliderLayoutContainer {
	&--main__banner__slider,
	&--offer-slider,
	&--most-wanted-slider {
		position: relative;
	}
}

.sliderArrows {
	&--main__banner__slider,
	&--offer-slider,
	&--most-wanted-slider {
		padding: 0;
		color: $white;

		@include mediaBreaks('tablet') {
			display: none;
		}
	}
}

.paginationDotsContainer {
	&--main__banner__slider,
	&--department__main__banner__slider,
	&--offer-slider,
	&--most-wanted-slider,
	&--department-banner-slider {
		align-items: center;
		margin-bottom: 22px;
	}

	&--main__banner__slider,
	&--offer-slider,
	&--most-wanted-slider {
		@include mediaBreaks('tablet') {
			bottom: -18px !important;
			margin: 0;
			margin-top: 16px;
		}
	}

	&--department__main__banner__slider {
		@include mediaBreaks('tablet') {
			bottom: -26px !important;
			margin: 0;
		}
	}
}

.paginationDot {
	&--main__banner__slider,
	&--department__main__banner__slider,
	&--offer-slider,
	&--most-wanted-slider,
	&--department-banner-slider {
		background-color: $white;
		padding: 0;
		height: 7px !important;
		width: 7px !important;
	}

	&--main__banner__slider--isActive,
	&--department__main__banner__slider--isActive,
	&--offer-slider--isActive,
	&--most-wanted-slider--isActive,
	&--department-banner-slider--isActive {
		background-color: $grey-600;
		padding: 0.25rem;
		height: 9px !important;
		width: 9px !important;
	}

	&--main__banner__slider,
	&--department__main__banner__slider,
	&--offer-slider,
	&--most-wanted-slider {
		@include mediaBreaks('tablet') {
			background-color: $grey-500;
		}
	}

	&--main__banner__slider--isActive,
	&--department__main__banner__slider--isActive,
	&--offer-slider--isActive,
	&--most-wanted-slider--isActive {
		@include mediaBreaks('tablet') {
			background-color: $grey-700;
		}
	}
}
