.sliderLeftArrow--highlightShelf,
.sliderRightArrow--highlightShelf {
	width: 38px !important;
	height: 38px !important;
	border: 2px solid $grey-500;
	border-radius: 4px;
	transition: $animation-2ms;

	&:hover {
		filter: brightness(0.5);
	}
}

.sliderLeftArrow {
	margin-left: 35px;
}

.sliderRightArrow {
	margin-right: 35px;
}

.caretIcon {
	&--highlightShelf {
		width: 14px;
		height: 14px;
		color: $grey-500;
	}
}

.slide {
	&--highlightShelf {
		@include mediaBreaks('mobile') {
			width: 250px !important;
		}

		& :global(.vtex-product-summary-2-x-container) {
			width: 240px;
			height: 573px;
			background-color: $white;
			margin: 8px 5px;
			border-radius: 5px;
			border: 2px solid transparent;
			box-sizing: border-box;

			@include mediaBreaks('mobile') {
				padding-top: 41px;
			}

			&:hover {
				box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.18);
			}
		}
		&:first-child {
			margin-left: 0px !important;
		}
	}
}

.paginationDotsContainer {
	&--highlightShelf {
		margin-bottom: 26px;

		@include mediaBreaks('mobile') {
			width: 100%;
			min-width: 320px !important;
			max-width: 640px !important;
		}
	}
}

.sliderLayoutContainer {
	&--highlightShelf {
		padding-left: 120px !important;
		padding-right: 120px !important;
		padding-bottom: 63px !important;
		z-index: 2;

		@include mediaBreaks('tablet') {
			padding-left: 50px !important;
			padding-right: 50px !important;
		}

		@include mediaBreaks('mobile') {
			padding-left: 10px !important;
			padding-right: 0px !important;
		}
	}
}

.slideChildrenContainer {
	&--highlightShelf {
		justify-content: flex-start !important;
	}
}

.sliderTrack {
	&--highlightShelf {
		@include mediaBreaks('mobile') {
			justify-content: flex-start !important;
			width: 1000% !important;
		}
	}
}
