.trigger {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	outline: none;

	&--question {
		border-bottom: 1px $grey-300 solid;

		&--visible {
			border: none;
		}
	}

	&--hidden {
		&::after {
			font-family: 'mercaldas';
			content: '\e921';
			color: $secondary-dark;
		}
	}

	&--visible {
		&::after {
			font-family: 'mercaldas';
			content: '\e922';
			color: $secondary-dark;
		}
	}
}

.content--answer {
	transition: opacity 250ms ease-in-out, height 250ms ease-in-out, transform 250ms ease-in-out;
	opacity: 0;
	height: 0;
	transform: translate3d(0, -10%, 0);

	&--visible {
		border-bottom: 1px var(--color-grey-300) solid;
	}

	&[data-enter] {
		opacity: 1;
		height: fit-content;
		transform: translate3d(0, 0, 0);
	}

	&[data-leave] {
		height: 0;
		overflow: hidden;
	}
}
