/* Product Page */

.container {
	&--pdp {
		&-shp {
			&-sim {
				&-text {
					transform: translateY(-1px);
					@include mediaBreaks('tablet') {
						transform: translateY(2px);
					}
				}
			}
		}
	}
}

.wrapper {
	&--pdp {
		&-shp {
			&-sim {
				&-text {
					display: flex;
					align-items: center;
					&::before {
						content: '\e91f';
						font-family: 'mercaldas';
						font-size: 42px;
						color: $secondary-main;
						margin-right: 7px;
					}
				}
			}
		}
	}
}

.paragraph {
	&--pdp {
		&-shp {
			&-sim {
				&-text {
					font-size: 14px;
					font-weight: 400;
					color: $grey-800;
					margin: 0;

					@include mediaBreaks('tablet') {
						font-size: 13px;
					}
				}
			}
		}
	}
}
