.wishlistIconContainer {
	&--add-to-list-highlights {
		width: unset !important;
		transform: scale(1.3);
		:global(.vtex-button) {
			height: unset !important;
			margin: 0 !important;
			border: none;
			:global(.vtex-button__label) {
				height: unset !important;
				padding: 0 !important;
			}
		}
	}
}
