/* Minicart */
.summarySmallDisclaimer--minicart__footer__totalizers {
  display: none;
}

.summaryItemContainer--minicart__footer__summary__info {
  color: #424242;
  font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  margin: 10px 0;
}
@media (max-width: 1023px) {
  .summaryItemContainer--minicart__footer__summary__info {
    font-size: 13px;
    line-height: 15px;
  }
}
.summaryItemContainer--minicart__footer__summary__info:first-child {
  margin-top: 24px;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .summaryItemContainer--minicart__footer__summary__info:first-child {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: normal;
    margin-top: 19px;
  }
}
.summaryItemContainer--minicart__footer__summary__info:last-child {
  color: #000000;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  padding-bottom: 0;
  margin-top: 13px;
  margin-bottom: 0;
  text-transform: uppercase;
  padding-top: 10px;
  position: relative;
}
.summaryItemContainer--minicart__footer__summary__info:last-child::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #f5f5f5;
  top: 0;
  left: -30px;
  width: 360px;
}
@media (max-width: 1023px) {
  .summaryItemContainer--minicart__footer__summary__info:last-child {
    color: #000000;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: normal;
    padding-top: 13px;
  }
}
@media (max-width: 1023px) {
  .summaryItemContainer--minicart__footer__summary__info:last-child .summaryItemLabel--minicart__footer__summary__info {
    font-weight: 800;
  }
}
@media (max-width: 1023px) {
  .summaryItemContainer {
    color: #9e9e9e;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: normal;
    margin: 11px 0;
  }
}

@media (max-width: 1023px) {
  .summaryItemLabel--minicart__footer__summary__info {
    font-weight: 400;
  }
}
