/* Authentication Screen  */

.authenticationScreen_container {
	display: flex;
	flex-direction: row;

	@include mediaBreaks('tablet') {
		flex-direction: column;
		justify-content: center;
	}

	& .authenticationScreen_passBox :global(.vtex_my-authentication_box_container) {
		height: auto;
	}
}

.box_container {
	box-sizing: border-box;
	height: 165px;
	width: 390px;
	min-width: 390px;
	min-height: 165px;
	border: 2px solid $grey-200;
	margin: 34px 10px 0 0;

	@include mediaBreaks('mobile') {
		width: auto;
		height: 150px;
		margin: 0;
	}
}

.box_content {
	padding: 26.5px 24.5px;

	@include mediaBreaks('mobile') {
		padding: 16px 17.5px;
	}
}

.maskedPassword_title,
.loginSessionsBox_title {
	font-size: 13px;
	color: $secondary-main;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 15px;
	font-family: 'Roboto';
}

.maskedPassword_content,
.loginSessionsBox_content {
	color: $grey-700;
	font-family: 'Roboto';
	font-size: 13px;
	letter-spacing: 0;
	line-height: 15px;
}

.box_footer {
	display: flex;
	justify-content: flex-end;
	padding: 0;

	& :global(.vtex-button) {
		padding: 25px;
	}
}

.box_footer,
.resendCodeButton_container {
	& :global(.vtex-button__label) {
		color: $secondary-dark;
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		padding: 0;
		text-decoration: underline;
	}
}

/* Change Password Screen */

.createPassword_text {
	color: $grey-700;
	font-size: 13px;
	font-weight: 500;
	line-height: 17px;
}

.newPassInput_container {
	margin-bottom: 12px;
}

.codeInput_container,
.currPassInput_container,
.newPassInput_container {
	& :global(.vtex-input__label) {
		font-family: 'Roboto';
		color: $secondary-main;
		font-size: 12px;
		font-weight: 500;
		line-height: 16px;

		&::before {
			content: '*';
			color: $secondary-main;
			position: relative;
		}
	}
}

.codeInput_container {
	& :global(.vtex-input__label) {
		&::before {
			left: 46px;
		}
	}
}

.currPassInput_container,
.newPassInput_container {
	& :global(.vtex-input__label) {
		&::before {
			left: 105px;
		}
	}

	& :global(.vtex-input__suffix) {
		background: $white;
		color: $secondary-dark;
		padding: 0 10px;
	}
}

.codeInput_container,
.currPassInput_container,
.newPassInput_container {
	& :global(.vtex-input-prefix__group) {
		background: $white;
		box-sizing: border-box;
		width: 339px;
		height: 40px;
		border: 1px solid $grey-300;
		border-radius: 4px;

		@include mediaBreaks('mobile') {
			width: auto;
			height: 48px;
		}
	}
}

.currPassInput_container,
.currPassInput_container {
	& :global(.vtex__icon-visibility-on),
	& :global(.vtex__icon-visibility-off) {
		opacity: 0.5;
	}
}

.passValidation_iconFailure,
.passValidation_iconSuccess {
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		font-family: 'mercaldas';
		position: absolute;
		font-size: 8px;
		color: $white;
	}

	& :global(.vtex__icon-failure),
	& :global(.vtex__icon-success) {
		opacity: 0;
	}
}

.passValidation_iconFailure {
	background: $error;

	&::before {
		content: '\e923';
	}
}

.passValidation_iconSuccess {
	background: $success;

	&::before {
		content: '\e935';
	}
}

.passValidation_title,
.passValidation_minLength,
.passValidation_number,
.passValidation_lower,
.passValidation_upper {
	color: $secondary-main;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0;
}

.savePassButton_container {
	margin: 0;

	@include mediaBreaks('mobile') {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

.box_footer {
	& .savePassButton_container {
		& :global(.vtex-button) {
			background-color: $primary-main;
			width: 340px;
			height: 48px;
			border: none;
			margin: 0 18px 19px 18px;
			text-transform: capitalize;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				background-color: $primary-light;
			}

			@include mediaBreaks('mobile') {
				width: 100%;
				height: 54px;
			}
		}

		& :global(.vtex-button__label) {
			letter-spacing: 0;
			color: $white;
			text-decoration: none;
		}
	}
}

/* Session Screen */

.loginSessions_box {
	& :global(.vtex-my-authentication-1-x-box_container) {
		min-height: 204px;

		@include mediaBreaks('mobile') {
			width: auto;
			max-width: 380px;
			max-height: 214px;
		}
	}
}

.loginSessions_list {
	@include mediaBreaks('tablet') {
		flex-direction: column;
		justify-content: center;
	}

	& .loginSessions_box {
		&:first-child {
			& .box_content {
				margin: 0 26px 25px;

				@include mediaBreaks('tablet') {
					margin: 0 18px 24px 18px;
				}
			}
		}

		&:last-child {
			& .box_content {
				margin: 25px 25px 15px;

				@include mediaBreaks('tablet') {
					margin: 0 18px 24px 18px;
				}
			}
		}
	}
}

.loginSession_currSession {
	& :global(.vtex_my-authentication_loginSession_currSessionIcon) {
		display: none;
	}

	& :global(.vtex_my-authentication_loginSession_currSessionText) {
		&::before {
			content: '\e957';
			font-family: 'mercaldas';
			font-size: 22px;
			color: inherit;
			margin-right: 10px;
			position: relative;
			top: 5px;
		}
	}
}

.loginSession_currSessionText {
	font-size: 14px;
	color: $secondary-main;
	font-family: 'Roboto';
	font-weight: 500;
	line-height: 16px;
}

.loginSessions_box {
	& .box_container :global(.vtex_my-authentication_box_content) {
		padding: 10px;
		margin: 0 26px 25px;
		width: 339px;
		background: $grey-200;

		@include mediaBreaks('mobile') {
			width: auto;
			max-height: 130px;
			margin: 0 18px;
		}
	}
}

.loginSession_device {
	padding: 0.5rem 0;
}

.loginSession_device,
.loginSession_lastAccess,
.loginSession_originDetails,
.loginSession_firstAccess {
	font-size: 13px;
}

.box_footer {
	& :global(.vtex-button) {
		margin: 0 25px 15px;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			border: none;
		}
	}
}
