@mixin scrollbar($width: 12px, $borderSize: 9px, $borderColor: $white, $background: $white) {
	&::-webkit-scrollbar {
		width: $width;
	}

	&::-moz-scrollbar {
		width: $width;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $grey-450;
		border-radius: 20px;
		height: 10px;
		border: $borderSize solid $borderColor;
	}

	&::-moz-scrollbar-thumb {
		background-color: $grey-450;
		border-radius: 20px;
		height: 10px;
		border: $borderSize solid $borderColor;
	}

	&::-webkit-scrollbar-track {
		background: $background;
	}

	&::-moz-scrollbar-track {
		background: $background;
	}
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin removeAfterBefore {
	&:before,
	&:after {
		content: normal;
	}
}

@mixin removeOutline {
	&:focus,
	&:active {
		outline: 0 !important;
	}
}

@mixin reset() {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
